#root {
  margin: 0;
  padding: 2rem;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: center;
  gap: 1rem;
}

.title,
.subtitle {
  display: contents;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #eaecf0;
  margin: 1rem 0;
}
